/* Estilos generales */
.editor-container {
  display: flex;
  position: absolute;
  top: 0; /* Se pega al borde superior */
  left: 0; /* Se pega al borde izquierdo */
  right: 0; /* Se pega al borde derecho */
  bottom: 60px; /* Ajusta según el espacio de los controles globales */
  background-color: #ffffffa2;
  color: white;
  padding-bottom: 60px; /* Espacio para controles globales */
  box-sizing: border-box; /* Incluye padding y bordes en la altura */
}

/* Controles laterales */
.track-controls-sidebar {
  width: 250px;
  background: #2a2a2a;
  overflow-y: auto; /* Habilita scroll vertical */
  height: calc(100vh - 60px); /* Altura menos la altura de los controles globales */
}

.track-controls {
  margin-left: 10px;
  margin-right: 10px;
  height: 111px;
  border-bottom: 1px solid white; /* Añadido borde para separación visual */
}

/* Línea de tiempo */
.timeline-container {
  flex: 1;
  overflow-x: auto;
  position: relative;
  height: calc(100vh - 60px); /* Altura menos la altura de los controles globales */
}

.tracks-container {
  position: relative;
  min-width: max-content;
  overflow-y: auto; /* Habilita scroll vertical */
  height: 100%; /* Ocupa toda la altura disponible */
}

.track-waveform {
  height: 100px;
  margin: 10px 0;
  border-bottom: 1px solid #444;
}

/* Controles globales */
.global-controls {
  position: fixed;
  bottom: 0;
  left: 0; /* Extender desde el borde izquierdo */
  right: 0; /* Extender hasta el borde derecho */
  background: #1a1a1a;
  margin: 15px; /* Aumentar el padding para mejor espaciado */
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center; /* Centrar el contenido horizontalmente */
  height: 70px; /* Aumentar la altura para más espacio */
  border-radius: 20px; /* Border radius en la esquina superior izquierda */
  
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Sombra para un efecto elevado */
}

/* Estilos adicionales para los controles */
button {
  background: #444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

input[type="range"] {
  width: 100%;
}

.timeline-container {
  margin: 10px 0;
  border-bottom: 1px solid #444;
  transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

.track-controls {
  opacity: 1 !important; /* Asegurar que los controles no hereden la opacidad */
}